{% extends 'template.html' %}


{% block title %} Register | {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <h1 class="text-center">Register</h1>
                <hr class="info">
            </div>
        </div>
        <div class="row">
            <div class="card shadow col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="card-body">
                    {# TODO: Visualize Error#}
                    <form action="" method="post">
                        <div class="form-group row">
                            <label for="first_name" class="col-md-4 col-form-label">First Name</label>
                            <div class="col-md-8">
                                <input type="text" name="first_name" id="first_name" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="last_name" class="col-md-4 col-form-label">Last Name</label>
                            <div class="col-md-8">
                                <input type="text" name="last_name" id="last_name" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label">Email</label>
                            <div class="col-md-8">
                                <input type="email" name="email" id="email" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="username" class="col-md-4 col-form-label">Username</label>
                            <div class="col-md-8">
                                <input type="text" name="username" id="username" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label">Password</label>
                            <div class="col-md-8">
                                <input type="password" name="password" id="password" class="form-control" required>
                            </div>
                        </div>

{#                        TODO: Confirm Password #}

                        <div class="form-group row">
                            <div class="col-md-8 offset-md-4">
                                <input class="btn btn-outline-success" type="submit" value="Register">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}