:root {
    --border-radius: .125rem;
    --border-width: .125rem;
}

.form-control, .btn {
    border-radius: var(--border-radius);
}

hr {
    border-top: var(--border-width) solid;
}

hr.primary {
    border-top-color: var(--primary)
}

hr.info {
    border-top-color: var(--info)
}

hr.success {
    border-top-color: var(--success)
}

#sidebar .nav .nav-item {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

#sidebar .nav .nav-link {
    color: var(--gray-dark);
    font-size: small;
    font-weight: 700;
}

#sidebar .nav .nav-link.active {
    color: var(--primary);
}

#sidebar .nav .nav-link .feather {
    color: var(--gray);
}

#sidebar .nav .nav-link.active .feather {
    color: var(--primary);
}

#sidebar .nav .nav-link:hover {
    color: var(--info);
}

#sidebar .nav .nav-link:hover .feather {
    color: var(--info);
}

.feather {
    height: 1rem;
    width: 1rem;
    vertical-align: text-bottom;
}

.table td, .table th{
    padding: .5rem
}

[v-cloak] {
    display: none;
}