<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Parvez M Robin">
    <link rel="icon" href="{{ url_for('static', filename='rbac.ico') }}">

    <title>{% block title %}{% endblock %}RBAC</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/site.css') }}" rel="stylesheet">

    {% block style %}{% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ url_for('index') }}">RBAC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-rbac"
            aria-controls="navbar-rbac" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-rbac">
        <form class="form-inline w-100">
            <input class="form-control search w-100 mx-md-3" type="text" placeholder="Search" aria-label="Search">
        </form>

        <ul class="navbar-nav ml-auto">
            {% if g.user %}
                <li class="nav-item text-nowrap pr-2">
                    <span class="navbar-text">Hi {{ g.user['username'] }}!</span>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container-fluid mt-5 pt-2">
    <div class="row">
        <nav class="col-md-3 col-lg-2 mt-5" id="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" id="nav-dash" href="{{ url_for('blog.index') }}">
                        <span data-feather="home"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-user" href="{{ url_for('user.index') }}">
                        <span data-feather="user"></span>
                        Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-role" href="{{ url_for('role.index') }}">
                        <span data-feather="briefcase"></span>
                        Roles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-permission" href="{{ url_for('permission.index') }}">
                        <span data-feather="globe"></span>
                        Permissions
                    </a>
                </li>
            </ul>
        </nav>

        <main role="main" class="col-md-9 col-lg-10 px-5">
            {% block content %}{% endblock %}
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

<!-- Vue JS -->
<script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>

<!-- axios JS -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Icons -->
<script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>

{% block script %}{% endblock %}

<!-- Custom JavaScript -->
<script src="{{ url_for('static', filename='js/site.js') }}"></script>
</body>
</html>
